# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Metro, bundler, and cache
.expo/
.expo-shared/
.expo-cache/
.expo-packager-cache/
.expo/packager-info.json
.expo/settings.json
.expo/web-build/
*.expo

# React Native
android/app/build/
ios/Pods/
ios/build/
*.keystore

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Environment files
.env
.env.*